
@{
	ViewData["Title"] = "Clientes";
}
<h1>@ViewData["Title"]</h1>
@model ClinicaApp.Models.Cliente;

<form asp-action="create">
	<label asp-for="Nome"></label>
	<input asp-for="Nome" required placeholder="Digite o seu nome">
	<br>
	<label asp-for="DataNascimento"></label>
	<input asp-for="DataNascimento">
	<br>
	<label asp-for="Salario"></label>
	<input asp-for="Salario" name="Salario">
	<br>
	<input type="submit" class="btn btn-success" value="Criar" />

</form>